# Copie este arquivo para .env e preencha. O .env NUNCA vai para o Git.
MATRICULA=26128937
DOCKERHUB_USER=osiqueira

MARIADB_DATABASE=agrovale_blog
MARIADB_USER=agrovale
MARIADB_PASSWORD=S@1201Li
MARIADB_ROOT_PASSWORD=S@1201Li

WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=agrovale_blog
WORDPRESS_DB_USER=agrovale
WORDPRESS_DB_PASSWORD=S@1201Li